body {
    background-color: #181818;
}

#myName {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    font-size: 35px;
    height: 36px;
}

#about {
    display: flex;
    justify-content: left;
    padding-left: 20px;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}

#links {
    display: flex;
    justify-content: center;
}

.green {
    color: #00ff0d;
}

.white {
    color: #f1f1f1;
}

.blue {
    color: #3b73b3;
}

.fa {
    padding: 25px 13px 10px 13px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #8d8d8d;
    opacity: 0.5;
  }
  
  
  .fa:hover {
    opacity: 0.2;
  }

  footer {
    background-color: #181818;
    color: #575757;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #575757;
}